* { 
	margin:0; 
	padding:0;
	max-height: 100000px;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	border:0;
	background:none;
}
body {
	color: $base-text-color;
	font: #{$base-font-size}/#{$base-line-height} $base-font-family;
	background: $base-background-color;
}
a {
	text-decoration:underline;
	color: $base-link-color;
	outline:none;
	&:hover {
		text-decoration: underline;
	}
}
input, textarea, select {
	font: 100% $base-font-family;
	color: $base-form-text-color;
	vertical-align:middle;
	overflow: auto;
}
label{vertical-align:middle;}
button, input{
	width: auto;
	overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, b, strong, th{font-weight:bold;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
h5{font-size:100%;}
h6{font-size:90%;}
i, cite, em, var, dfn, address{font-style:italic;}
u, ins {text-decoration: underline;}
s, strike, del {text-decoration: line-through;}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
blockquote{
	border-left:4px solid #ccc;
	padding-left:10px;
	margin-left:14px; 
}
cite{
	display:block;
	text-align:right;
}
table, caption, tbody, tfoot, thead, tr, th, td{
	border-collapse: collapse;
	border-spacing: 0;
}
th, td{
	border:1px solid #ccc;
	padding:3px 7px;
	text-align:left;
	vertical-align:top;
}
th{
	border-color:#999;
	text-align:center;
	vertical-align:middle;
}
ul{margin-left:1px;}
ul ul,
ul ol,
ol ul, 
ol ol{
	padding-left:18px;
	margin:0;
}
ul li, ol li{list-style-position:inside;}
ul>li{list-style-type:disc;}
dl dt{
	float:left;
	clear:left;
	padding-right:4px;
	font-weight:bold;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	background:#fff;
	margin: 0;
	padding: 3px 7px;
	border: 1px solid $base-input-border-color;
	&:focus {
		border-color: darken($base-input-border-color, 30%); 
		//outline: none;
	}
}
