$base-text-color: #fff;
$base-background-color: #000;
$base-link-color: #fff;
$base-form-text-color: #2a3439;
$base-form-placeholder-color: #909090;
$base-input-border-color: #999;
$base-border-color: #cacaca;
$border-color: #e5e5e5;

$base-font-size: 15px;
$base-line-height: 25px;
$base-font-family: 'Roboto', sans-serif;

$base-min-width: 320px;

// breakpoints
$m-landscape: min-width 480px;
$c-landscape: min-width 550px;
$desktop: min-width 1025px; 	// for more than 1024px width
$tab-landscape: 1199px;			// tablet landscape
$tablet: 999px; 				// tablet
$tablet-range: 768px 1023px; 	// sample ragne
$mobile: 767px; 				// mobile
$mobile-hi-res: 767px (min-resolution 1.5dppx);  // mobile retina

// @font-face-serif: 
// @font-face-sans-serif: 
